@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}
:root{
    --red:#ff0000;
    --orange:#ff9100;
    --yellow:#fff200;
    --yellow:#d7fc03;
    --green:#00ff00;
    --blue:#0000ff;
    --white:#fff;
    --gray:#9e9e9e;
    --black:#000;
}
body{
    background: linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
    width: 100%;
    height: 100vh;
    color: var(--white);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--white);
}
.header{
    width: 100%;
    height: 100px;
}
.nav{
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.75px;
}
.nav-left a{
    color: #84a6d6;
}
.nav-left a i{
    font-size: 42px;
    margin-right: 7px;
}
.nav-right ul li{
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;  
    color: #5470bc;
    position: relative;
}
.nav-right ul li:after{
    content: '';
    position: absolute;
    background: #84a6d6;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -8px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.nav-right ul li:hover::after{
    width: 100%;
}
.login{
    display: flex;
    justify-content: space-between;
    padding:50px 100px 0 150px;
}
.left{
    padding-top: 100px;
    width: 500px;
    height: 500px;
}
.top h2{
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 800;
    margin-bottom: 10px;
}
.top h4{
    font-weight: normal;
    color: var(--gray);
    margin-bottom: 15px;
}
.input{
    width: 100%;
    height: 45px;
    margin-bottom: 25px;
    position: relative;
}
input{
    width: 100%;
    height: 45px;
    background-color: #88a3d2;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 20px;
    color: var(--white);
    font-size: 17px;
}
.input i{
    position: absolute;
    right: 20px;
    top: 13px;
    color:#333b61;
    font-size: 20px;
}
::placeholder{
    font-size: 15px;
}

  

.forget{
    font-size: 15px;
    margin-top: -12px;
    margin-bottom: 20px;
    transition: 0.3s;
}
.forget a:hover{
    text-decoration: underline;
}
.btn button{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 0.75px;
    transition: 0.3s ease;
    margin-bottom: 20px;
    font-weight: 600;
}
.btn button:hover{
    background: linear-gradient(to right, rgb(236, 72, 153), rgb(239, 68, 68), rgb(234, 179, 8));
}
.or{
    text-align: center;
    margin-bottom: 20px;
}
.icon{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    font-size: 17px
}
.icon a{
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 30px;
    font-size: 16px;
    background: linear-gradient(to left bottom, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
}
.icon i{
    font-size: 21px;
    margin-right: 7px;
}
.right img{
    border-radius: 50% ;
    width: 710px;
    height: 710px;
    /* border-radius: 20px; */
    box-shadow: -20px -24px 16px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -20px -24px 16px 0px rgb(17, 24, 39);
    -moz-box-shadow: -20px -24px 16px 0px rgba(0,0,0,0.75);
}
#NguoiDung {
    position: relative;
}

#NguoiDung:hover>div {
    display: block;
}

#NguoiDung>div {
    display: none;
    text-align: center;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#NguoiDung>div>p {
    padding: 5px 0
}
.top img{
    width:80%;
}
.top video{
    margin-top: -110px;
    width: 100%;
}
.top h2{
    font-family:  'Lobster', cursive;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 800;
    margin-bottom: 10px;
    color: rgb(112, 196, 217);
    text-align: center;
}
.btt{
    margin-top: 200px;
    width: 200px;
    margin-left: 100px;
}

.nami > .left{
    width: 1000px;
}
.mina > .left{
    width: 850px;
}